main {
  padding: 1rem 2rem;
}

.messageBox {
  min-height: 60vh;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message {
  width: max-content;
  max-width: 90%;
  padding: 1rem;
}

.sent {
  text-align: right;
  background-color: lightgreen;
}

.received {
  text-align: left;
  background-color: cyan;
}

.send-message {
  width: 100%;
  display: flex;
}

#messageInput {
  padding: 1rem;
  flex-grow: 1;
}

#sendBtn {
  padding-inline: 4rem;
  background-color: indigo;
  color: white;
  cursor: pointer;
}
